
#main {
	padding-top: 30px;
	text-align: left; 
}

#main .container {
	overflow: hidden;
}

#main h2 {
	font-weight:lighter;
	font-size:160%;
}

#main p {
	line-height: 150%;
}

#about {
	float: left;
	width: 65%;
}

#contact {
	float:right;
	width:25%;
}

#contact .sub {
	color:#999;
}
